@import 'variables.scss';

.side_navbar {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 240px;
  color: $fontColor;
  background-color: $lightMenu;
  padding: 20px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
  z-index: 7;

  @media #{$lg}{
    width: 200px;
    padding: 10px;
  }

  @media #{$md}{
    transform: translateX(-220px);
    width: 240px;
    max-width: 100%;
    padding: 20px;
    transition: all 0.2s;
    &.open_menu {
      transform: translateX(0px);
    }
  }

  @media #{$xs}{
    width: 100%;
    padding: 20px 30px;
    transform: translateX(calc(-100% + 20px));
  }
}


ul.side_navbar_list {
  list-style: none;
  line-height: 1.6;
  @media #{$sm}{
    padding-top: 30px;
  }
}

ul.side_navbar_list li {
  font-size: 0.85em;
  padding: 5px 0px;

  &.list_item.muted { font-size: 0.7em; color: $fontMuted; padding: 1px 0px; text-transform: uppercase;}

  &.list_item.title, &.list_item_link.title { font-size: 1.3em; color: $colorSpecial; font-weight: 800; padding-top: 1px; text-transform: uppercase; }

  &.list_item_link.title { font-size: 0.85em; }

  &.list_item_link.title:hover { color: lighten($colorSpecial, 15); cursor: pointer; }

  &.vote_average { font-size: 0.8em; span.average { font-size: 1.2em; color: $colorSpecial; font-weight: 800; } }

  &.vote_count { padding-bottom: 15px; font-size: 0.8em; span.count { font-size: 1.2em; color: $colorSpecial; font-weight: 800; } }

  &.list_item_link a, &.list_item_link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    transition: all 0.1s;
    &:hover { color: $colorSpecial; }
  }
}

ul.side_navbar_list span.line {
  width: 100%;
  height: 1px;
  background-color: darken($lightMenu, 15);
  display: block;
  margin: 15px 0px;
}

.open_side_menu {
  display: none;
  position: fixed;
  top: 50vh;
  left: 5px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: $colorSpecialAlpha;
  line-height: 30px;
  text-align: center;
  color: #eee;
  border-radius: 50%;
  cursor: pointer;
  z-index: 8;
  transition: all 0.2s;
  &:hover { background: $colorSpecial; }

  &.active {
    left: 225px;
    @media #{$xs}{ left: 10px; top: 27px; }
  }

  @media #{$md}{
    display: block;
  }
}

.link_desktop {
  @media #{$sm}{ display: none; }
}


.side_navbar.person_side_navbar {
  li.picture, li.picture_icon {
    width: 120px;
    text-align: center;
    height: 120px;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
    @media #{$xs}{
      margin-left: calc((100% - 120px) / 2);
    }

    i {
      font-size: 4em;
      line-height: 110px;
    }
  }

  li.title {
    color: $lightMenu;
    background: $colorSpecial;
    text-transform: uppercase;
    text-align: center;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  }

  li.muted { text-align: center; font-size: 0.75; font-weight: 400; color: $fontMuted; padding-bottom: 5px; }
  li.list_item { font-size: 0.85em; padding-left: 15px; font-weight: 400; color: $fontMuted; }
  li.list_item span { color: $fontColor; }

  li.person_socials {
    text-align: center;
     a {
      color: $fontMuted;
      padding: 0px 5px;
      transition: all 0.1s;
      font-size: 2em;
      &:hover { color: $colorSpecial; }
    }
  }
}