@import 'variables.scss';

.spinner_container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  padding-top: 200px;
  justify-content: center;
  align-items: flex-start;
  z-index: 16;
}

.spinner_perspective {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0;
  perspective: 300px;
}

.spinner_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: animationRotate 2s linear infinite;
}

.spinner_wrapper > section {
  width: 100%;
  height: 100%;
  position: absolute;
}

.spinner_wrapper .front {
  transform: translateZ(45px);
  background: url('./img/movies.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.spinner_wrapper .back {
  transform: translateZ(-45px);
  background: url('./img/people.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.spinner_wrapper .top {
  transform: rotateX(-90deg) translateZ(45px);
  background: url('./img/serials.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.spinner_wrapper .down {
  transform: rotateX(90deg) translateZ(45px);
  background: url('./img/1.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.spinner_wrapper .left {
  transform: rotateY(-90deg) translateZ(45px);
  background: url('./img/2.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.spinner_wrapper .right {
  transform: rotateY(90deg) translateZ(45px);
  background: url('./img/5.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes animationRotate
{
  0% { transform:rotateX(0) rotateZ(0); }
  100% { transform:rotateX(360deg) rotateZ(360deg); }
}
